.header {
    margin: 5px;
}
.header-card {
    height: 12%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.header-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.logo-image {
    height: 80px;
    width: 80px;
}
.logo-name-heading {
    text-align: center;
    color:#0F4811;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 600;
    padding-left: 5%;

}
.name-section {
    align-content: center;
}
.name-section button {
    margin-left: 10px;
    border: none;
    background-color: white;
}
.name-section select {
    margin-left: 10px;
    border: none;
}

.search-input {
    margin-top: 20px;
    justify-self: center;
    width: 30%;
}
.search-icon {
    position: absolute;
    width: 30px;
    transform: translateY(80%) translateX(5px);
}
.search-input img{
    position: absolute;
    width: 30px;
    transform: translateY(30%) translateX(-40px);
}

.search-input input {
    width: 100%;
    padding: 10px;
    padding-left: 60px;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
    font: "Poppins";
}

.profile-cart-box {
    align-content: center;
    margin: 10px;
}
.notification-badge {
    position: absolute;
    top: 6%;
    right: 7%;
    background-color: rgb(235, 131, 12);
    color: black;
    border-radius: 50%;
    padding: 5px 8px;
    font-size: 12px;
    font-family: "Poppins";
}
